
.mod_groupselect .mygroup,
#page-mod-groupselect-view .me {
  font-weight: bold;
}

.mod_groupselect .membershidden {
  color:#AAAAAA;
}

.mod_groupselect .maxlimitreached {
  color:#AAAAAA;
}

.mod_groupselect-table table tbody tr td {
    vertical-align: middle;
}